<!-- add "scroll-to-top" button when scrolled down -->
<!--indexOff: all-->
{{#if lang}}
<div id="back-to-top" role="link" aria-label="{{i18n 'back_to_top_label' lang}}"></div>
{{else}}
<div id="back-to-top" role="link" aria-label="{{i18n 'back_to_top_label' 'en'}}"></div>
{{/if}}
<footer class="kth-footer {{{theme}}}"><div class="kth-footer__content">{{{blocks.studentFooter}}}</div></footer>
<!--indexOn: all-->
